table {
  width: 100%;
  border-collapse: collapse;
}
  
th, td {
  padding: 10px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

button {
  margin-right: 10px;
  padding: 5px 10px;
  cursor: pointer;
}

button:hover {
  background-color: #f0f0f0;
}

.transaction-card-wrapper {
  margin-bottom: 40px; 
  position: relative;
}

.date-container {
  position: absolute;
  top: -30px; 
  left: 10px;  
  display: flex;
  align-items: center;  
  margin-bottom: 15px;
}

.date {
  margin: 0;
  padding-right: 10px;  
  font-size: 12px;
  line-height: 20px;
  font-weight: 900;
  color: #3B3B3B;
  font-family: 'Nunito', sans-serif;
}

.date-line {
  width: 1px;  
  height: 20px;   
  background-color: rgba(222, 228, 233, 1);;  
  position: absolute;
  top: 50%;  
  left: 25px;
}

.transaction-card {
  border: 1px solid rgba(222, 228, 233, 1); 
  padding: 32px 16px; 
  background-color: #fff;
  margin-top: 25px;
  border-radius: 16px;  
  width: 1032px;  
  min-height: 152px;  
  opacity: 1;  
  display: flex;
  align-items: center;  
  justify-content: center; 
}

.transaction-card h3 {
  margin-bottom: 10px;
  color: #333;
}

.transaction-card table, .transaction-card th, .transaction-card td {
  border: none; 
}

.transaction-card .date-container {
  position: absolute;
  top: -40px;  
  left: 10px;  
  display: flex;
  align-items: center;
}

.transaction-card .date {
  margin: 0;
  padding-right: 10px;
}

.transaction-card .date-line {
  width: 1px;  
  height: 100%;  
  background-color: #000;  
  position: absolute;
  margin-top: 40px;  
  margin-left: 20px;
}

td {
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  font-family: 'Nunito', sans-serif;
  color: var(--color-gray);
}

.td-amount {
  font-weight: 900;
  text-align: right;
}

.balance-container {
  position: absolute;
  top: -30px;   
  right: 16px;  
  font-weight: 700;
  color: #333;
  font-family: 'Nunito', sans-serif;
}

.btn-list {
  border-radius: 32px;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  font-family: 'Nunito', sans-serif;
  width: 82px;
  height: 32px;
  padding: 0 16px 0 10px;
  gap: 10px;
}

.container-btn {
  margin-top: 60px;
  margin-bottom: 60px !important;
}

.active {
  background-color: #3B3B3B;  
  color: var(--color-white);
}

.inactive {
  background-color: #f0f0f0;  
  color: #000;
}

.active:hover{
  background-color: #3B3B3B;  
  color: white;
}
.btn-export {
  border-radius: 32px;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  font-family: 'Nunito', sans-serif;
  min-width: 82px;
  height: 32px;
  padding: 0 16px 0 10px;
  gap: 10px;
  background-color: #3B3B3B;  
  color: var(--color-white);
}

.btn-export:hover {
  background-color: #f0f0f0;  
  color: #000;
}

.date-vertical {
  width: 1px;  
  height: 20px;   
  background-color: rgba(222, 228, 233, 1);;  
  position: absolute;
  top: -10px;
  left: 25px;
}

@media (max-width: 768px) {
  td {
    display: grid;
    align-items: center;
    margin-left: 25px;
  }
  .transaction-card {
    width: 380px;
    height: auto;

  }
  .td-amount {
    text-align: left;
    font-weight: 900;
  }
  .balance-container {
    display: none;
  }
  .date {
    margin-left: 20px;
  }
  .date-line {
    display: none;
  }
  .date-vertical {
    display: none;
  }
  .container-btn {
    flex-direction: column; 
    align-items: flex-start; 
  }

  .container-btn .btn-export {
    align-self: center;
    margin-top: 20px;
  }
  .svgEntry {
    margin-left: -10px;

    position: absolute;
  }
}

.balanceDay {
  font-size: 12px;
  line-height: 20px;
  font-weight: 400;
}

.header {
  position: relative;
}

.logout {
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 8px 16px;
  font-size: 14px;
  background-color: var( --color-dark-main);
  color: white;
  border: none;
  border-radius: 16px;
  cursor: pointer;
}

.logout:hover {
  background-color: var(--color-main);
}

.rotating-logo {
  animation: spin 2s linear infinite; 
  width: 100px; 
  height: auto; 
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg); 
  }
}
